/* line 1, ../../source/scss/ui-cropper.scss */
ui-cropper {
  width: 100%;
  display: block;
}
/* line 3, ../../source/scss/ui-cropper.scss */
ui-cropper.fixed-height {
  height: 100%;
  position: relative;
  overflow: hidden;
}
/* line 7, ../../source/scss/ui-cropper.scss */
ui-cropper.fixed-height canvas {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
}
/* line 14, ../../source/scss/ui-cropper.scss */
ui-cropper.full-width {
  text-align: center;
}
/* line 16, ../../source/scss/ui-cropper.scss */
ui-cropper.full-width canvas {
  display: inline;
}
/* line 22, ../../source/scss/ui-cropper.scss */
ui-cropper canvas {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  z-index:2;
  /* mobile webkit */
}
/* line 28, ../../source/scss/ui-cropper.scss */
@-webkit-keyframes mymove {
  0% {
    -webkit-transform: scale(.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes pulsate {
  0% {
    transform: scale(.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
ui-cropper .loading{
  width: 100%;
  height:100%;
  font-size: 16px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  color: transparent;
  position:relative;
}
ui-cropper .loading:before{
  content:' ';
  border: 5px solid #333;
  border-radius: 30px;
  height: 30px;
  left: 50%;
  margin: -20px 0 0 -20px;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 30px;
  -webkit-animation: pulsate 1s ease-out;
  -moz-animation: pulsate 1s ease-out;
  animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;;
  animation-iteration-count: infinite;
  z-index:1;
}
/* line 29, ../../source/scss/ui-cropper.scss */
ui-cropper .loading .fixed-height {
  height: 100%;
  position: absolute;
}
